<header>
    <div class="header-slot">
        <a href="/" ><h1 >Digita Barber</h1></a>
    </div>
    <div class="header-slot" id="title"> <%= title %> </div>
    <div class="header-slot" id="head-right">Sistema de agendamento</div>
</header>

<div id="spacing"></div>

