<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Barber</title>
    <link rel='stylesheet' href='/stylesheets/setup.css'>
    <link rel='stylesheet' href='/stylesheets/lista.css'>

</head>
<body>

    <%- include("./partials/header") %>

    <main>
        
        <div class="category-main">
            <div class="category-child">descricao</div>
            <div class="category-child">nome</div>
            <div class="category-child">data</div>
        </div>
    
        <div id="lista"></div>

    </main>

    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/listaAgendamento.js"></script>

</body>
</html>